<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Rosetta note FastAPI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Tomas Gutierrez L. (0x00) FastAPI (Python)">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/bulma.min.css">
</head>
  <body>
    {% include "components/navbar.html" %}
    {% block content %}{% endblock %}
  </body>
</html>
